{:paths ["src"]
 :deps {thheller/shadow-cljs {:mvn/version "2.26.2"}}
 :aliases
 {:debug {:extra-paths ["C:/Program Files (x86)/Steam/steamapps/common/Songs of Syx/base/script/000_Tutorial.jar"
                        "C:/Program Files (x86)/Steam/steamapps/common/Songs of Syx/base/script/001_Tutorial.jar"
                        "target/Example Mod.jar"
                        "C:/Users/zihao/Desktop/workspace/private/nrepl-starter/target/nrepl-starter-2.0.0-SNAPSHOT-jar-with-dependencies.jar"
                        "C:/Users/zihao/.m2/repository/org/clojure/tools.deps/0.26.1553/tools.deps-0.26.1553.jar"]}}}
